*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,body{
    overflow-x: hidden !important;
}

:root{
 --color-grey: #a1a5ab;
 --color-white: #fff;
 --color-black: #000; 
 --color-orange: #ff7b19;
 --color-blue: #202FFF;
 --color-light-grey: #F0F1F2;
}
h6{
    font-family: 'Oxygen Mono', monospace;
    color: var(--color-blue);
}

/* BOOTSTRAP CLASS OVERWRITTEN  */
.bg-dark{
    background-color: black !important;
}

.text-secondary{
    color: var(--color-grey) !important;
}



/* END BOOTSTRAP OVERWRITING  */



/* NAVBAR  */
.custom-logo{
    position: relative;
    top: -4px;
   height: 25px;
}
.text-accent{
    color: var(--color-orange) !important;
}

.nav-link{
    color: var(--color-grey) !important;
    font-weight: 300;
}

.nav-link:hover{
    color: var(--color-white) !important;
}



.navbar{
    border-bottom: 2px solid black !important;
    box-shadow: 1px 1px black !important;
    padding: 2px !important;
}



/* END NAVBAR */

/* HERO SECTION */

.bg-black{
    background-color: var(--color-black);
}


.custom-shape-divider-top-1661006800 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1661006800 svg {
    position: relative;
    display: block;
    width: calc(250% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1661006800 .shape-fill {
    fill: black;
}





.custom-shape-divider-bottom-1661008270 {
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1661008270 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 76px;

}

.custom-shape-divider-bottom-1661008270 .shape-fill {
    fill: black;
}

.wrapper{
    position: relative;
}



.border-start{
    border-color: var(--color-grey) !important;
}


  .border-custom{
     border-radius: 0;
  }

@media only screen and (min-width: 768px){
    .border-start{
        border: none !important;
    }
}  

.fs-custom{
    font-size: 48px ;
}

.fs-custom-2{
    font-size: 40px;
}

.fs-p{
    font-size: 18px;
}

@media only screen and (max-width: 576px){
    .fs-custom{
        font-size: 32px;
    }

    .fs-custom-2{
        font-size: 28px;
    }

    .fs-p{
        font-size: 16px;
    }

    .btn-icon-navbar{
        width: 12.4px !important;
    }

   
    
 
}



@media only screen and (max-width: 768px){
    .custom-shape-divider-bottom-1661008270 .shape-fill {
        fill: white;
    }

   
    /* .img-wrapper{
        position: relative;
        top: 35%;
    } */
}


.padding-custom{
    padding-left: 0px !important;
    padding-right: 0px !important;

}

/* END HERO SECTION  */

/* BUTTONS  */
.bg-btn-custom{
    background-color: var(--color-light-grey);
    transition: background-color 0.175s ease;
    color: var(--color-black) !important;
    font-weight: 400;
}

.bg-dark{
    font-weight: 400;
    transition: background-color 0.175s ease;
    font-weight: 400;
    
}

.bg-dark:hover{
    background-color: rgb(40,40,40) !important;
}

.bg-btn-custom:hover{
    background-color: rgb(218, 217, 217);
    color: var(--color-black) !important;
    font-weight: 400;
}

.text-white{
    color: var(--color-white) !important;
}

.btn-icon{
    width: 14.5px;
}



.btn-icon-2{
    width: 14px; 
}

.btn-icon-white{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(172deg) brightness(103%) contrast(101%); 
}

.vw-custom{
    min-width: 250px;
}

.font-custom{
    font-size: 14px;
}

.filtered-icon{
    backdrop-filter: invert();
}

.menu-icon{
    width: 24px;
}

.navbar-toggler {
    border-color: transparent !important;
}

/* END BUTTONS  */

/* FEATURES SECTION  */
h1,h2{
    /* letter-spacing: 0.1px !important; */
}
/* END FEATURES SECTION  */

/* START CAROUSEL  */
.carousel-item > img{
    height: 400px !important;
    object-fit:cover;
    object-position: top;
}
.carousel-inner{
    /* height: 65vh; */
    /* width: 90vw; */
}

.carousel-img{
  /* height: 65vh; */
}



/* img{
    object-fit: contain !important;
} */


/* END CAROUSEL  */

/* COACH SECTION */
.featured-img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    overflow: hidden !important;
}

.mt-negative{
    position: relative;
    top: -30px;
}

.bg-featured-img1{
    position: relative;
    top: 30px;
    background-image: url('./images/parallele.jpeg');
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}

.bg-featured-img2{
    position: relative;
    top: 70px;
    background-image: url('./images/atleta.jpeg');
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;

}

.bg-featured-img3{
    position: relative;
    top: 30px;
    background-image: url('./images/ropes.jpg');
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;

}

.bg-featured-img4{
    position: relative;
    top: 70px;
    background-image: url('./images/torre.jpg');
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;

}

@media only screen and (min-width:768px) {
    .vh-md-100{
        height: 100vh;
    }
    .margin-top-custom{
        margin-top: 10%;
    }
}



/* VANTAGGI SECTION  */
@media only screen and (min-width: 768px){
    
    /* .vantaggi-height{
        height: 100vh;
    } */

    /* .nutrition-height{
        height: 100vh;
    } */
}

.bg-grey{
  background-color: var(--color-light-grey);
}

.bg-vantaggi{
    /* height: 100%; */
    background: linear-gradient(180deg, white 50%, var(--color-light-grey) 50%);
}

.flipper{
    transform: scaleX(-1);
  }

.trademark{
    height: 60px;
    position: relative;
    top: -3px;
    left: -18px;
}


/* NUTRITION SECTION  */
.custom-overflow{
    overflow: hidden !important;
}

.bg-nutrition-1{
   background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./images/break1.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 45vh;
   transition: .3s ease;

}

.bg-nutrition-1:hover{
     background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("./images/break1.png");
     transition: 0.3s ease;
}

.bg-nutrition-2{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://hips.hearstapps.com/hmg-prod/images/young-man-bending-forward-with-exhaustion-in-royalty-free-image-1583592789.jpg?crop=0.668xw:1.00xh;0.257xw,0&resize=640:*");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 45vh;
    transition: .3s ease;
 
 }
 
 .bg-nutrition-2:hover{
      background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("https://hips.hearstapps.com/hmg-prod/images/young-man-bending-forward-with-exhaustion-in-royalty-free-image-1583592789.jpg?crop=0.668xw:1.00xh;0.257xw,0&resize=640:*");
      transition: 0.3s ease;
 }

 .bg-nutrition-3{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(" https://thumbs.dreamstime.com/b/health-conscious-couple-cooking-healthy-food-diet-eating-fitness-lifestyle-proper-nutrition-low-calorie-dinner-home-kitchen-133916800.jpg ");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 45vh;
    transition: .3s ease;
 
 }
 
 .bg-nutrition-3:hover{
      background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(" https://thumbs.dreamstime.com/b/health-conscious-couple-cooking-healthy-food-diet-eating-fitness-lifestyle-proper-nutrition-low-calorie-dinner-home-kitchen-133916800.jpg ");
      transition: 0.3s ease;
 }

 .bg-nutrition-4{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(" https://thumbs.dreamstime.com/b/home-gym-workout-online-exercise-app-phone-fit-woman-watching-training-tutorial-video-using-digital-personal-trainer-183971481.jpg ");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 45vh;
    transition: .3s ease;
 
 }
 
 .bg-nutrition-4:hover{
      background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(" https://thumbs.dreamstime.com/b/home-gym-workout-online-exercise-app-phone-fit-woman-watching-training-tutorial-video-using-digital-personal-trainer-183971481.jpg ");
      transition: 0.3s ease;
 }

.border-bottom-custom{
    /* position: absolute; */
    /* left: 30%; */
    width: 60% ;
}


@media only screen and (max-width: 576px){
    .bg-nutrition-1{
     background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("./images/break1.png");
     border-bottom: 1.5px solid var(--color-grey);
    }
    .bg-nutrition-2{
      background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("https://hips.hearstapps.com/hmg-prod/images/young-man-bending-forward-with-exhaustion-in-royalty-free-image-1583592789.jpg?crop=0.668xw:1.00xh;0.257xw,0&resize=640:*");
      border-bottom: 1.5px solid var(--color-grey);
     
    }

    .bg-nutrition-3{
      background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(" https://thumbs.dreamstime.com/b/health-conscious-couple-cooking-healthy-food-diet-eating-fitness-lifestyle-proper-nutrition-low-calorie-dinner-home-kitchen-133916800.jpg ");
      border-bottom: 1.5px solid var(--color-grey);
    }

    .bg-nutrition-4{
      background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(" https://thumbs.dreamstime.com/b/home-gym-workout-online-exercise-app-phone-fit-woman-watching-training-tutorial-video-using-digital-personal-trainer-183971481.jpg ");

    }

    .lead-custom{
        font-size: 16px;
    }

    p{
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px){
   p{
    font-size: 20px;
   }

   .p-small{
    font-size: 16px;
   }
}


/* COME FUNZIONA SECTION  */
@media only screen and (min-width: 768px){

.custom-margin{
    margin-top: 5%;
    margin-left: -10%;
    /* margin-right: 12px; */
    margin-bottom: -5%;
}
}
@media only screen and (max-width: 576px){

.img-custom-position{
    position: relative;
    top:5%;
}
}

.display-7{
    font-size: 24px;
}

.text-inactive{
    color: var(--color-grey);
}

/* FOOTER  */

.fs-smaller{
    font-size: 12px;
}

.text-grey{
    color: var(--color-grey);
    
}